* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
}

.inputfield {
    width: 100%;
    height: 25px;
    box-shadow: black;
}

.inputElement {
    display: flex;
    gap: 5px;
}

.inputElement button {
    padding-inline: 18px;
    border: none;
    color: white;
    background-color: rgb(34,33,199);
    border-radius: 5px;
}

.table  {
    margin-top: -200px;
}

.table h1 {
    font-family: 'Courier New', Courier, monospace;
}

table {
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.tableData {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
}

table tr td {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: end; */
}

.done {
    padding-inline: 15px;
    padding-block: 5px;
    background-color: rgb(41,79,223);
    border: none;
    border-radius: 4px;
    color: white;
}

.line-through {
    text-decoration: line-through;
}

.text-gray-500 {
    color: #6b7280; /* Gray color */
}

.remove {
    margin: 0;
    display: flex;
    border: none;
    background-color: white;
    align-items: center;
    transition: .3s ease-in-out;
}

.remove:hover {
    background-color: rgb(220, 218, 218);
    border-radius: 50%;
}